img{
    width: 100%;
}
.jumbotron{ 
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-size: cover;
    margin-top: 106px;
}
.info{
    margin:2rem 0 2rem 0 ;
}
.iconic-margin-right{
    margin-right:0.3rem;
}

.sombreado{
    -webkit-box-shadow: 2px 5px 20px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 20px -3px rgba(0,0,0,0.75);
box-shadow: 2px 5px 20px -3px rgba(0,0,0,0.75);
border-radius: 0.5rem;
}
body{
    color: white;
    background-color: #3d4348;
}

h2{
   margin:0;
   font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin: 3rem 0 1rem 0;
}


footer{
    margin-top: 3rem;
    padding: 3rem 0 3rem 0;
    background-color: black;
}
.entrada-pelicula{
    flex: 0 0 100%;
    background-color: #f7f3f312;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    -webkit-box-shadow: 4px 5px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 10px -2px rgba(0,0,0,0.75);
}

button{
    margin-bottom: 1rem;
}
.base{
    flex: 0 0 calc(33.3% - 1rem);
}
@media(min-width:720px){
    .entrada-pelicula{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
@media(min-width:960px){
    .entrada-pelicula{
        flex: 0 0 calc(25% - 1rem);
    }
}

.img-banner{
    width: 100%;
    height: 500px;
}
